body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.leftCircle {
    width: 1479px;
    height: 1479px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 9, 51, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 9, 51, 0.2);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -444px;
    top: -198px;
    padding-left: 641px;
    padding-top: 245px;
}

.logo {
    width: 168px;
    height: 71px;
    margin-right: auto;
}

.leftCircle .preview {
    width: 447px;
    height: 1039px;
    position: absolute;
    top: 326px;
    left: 790px;
}

.whiteCircle {
    width: 386px;
    height: 386px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 9, 51, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 9, 51, 0.1);
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

#whiteCircle-1 {
    top: 1079px;
    left: 725px;
}

#whiteCircle-2 {
    top: 1172px;
    left: 1002px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 2;
    position: relative;
    height: 71px;
    margin: 47px auto 0;
    width: 80vw;
}

.navItem {
    display: flex;
    align-items: center;
    margin-left: 75px;
    font-size: 16px;
    color: var(--greyish-brown);
}

.navItem a {
    text-decoration: none;
    color: var(--greyish-brown);
}

.navItem img {
    margin-right: 10px;
}

.orderInfo {
    margin-left: 58%;
    margin-top: 80px;
}

.price {
    width: 400px;
    display: flex;
    align-items: center;
}

.orderInfo h4 {
    margin-bottom: 0;
    font-weight: 500;
    float: left;
}

.price a {
    text-decoration: none;
    color: var(--sky-blue);
    margin-left: auto;
}

.info {
    margin-top: 20px;
}

.info span {
    color: var(--brown-grey);
    float: left;
    line-height: 1.76;
    margin-right: 5px;
}

.info p {
    font-size: 16px;
}

.orderInfoSeparator {
    margin-top: 40px;
}

.orderItemsButtons {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.orderItemsButtons .circleButton:first-of-type {
    margin-right: 20px;
}

.orderItemsButtons p {
    margin-left: 30px;
}

.fullPrice {
    margin-right: 5px;
    margin-top: 50px;
}

#fullPrice {
    float: none;
}

.orderInfo .mainButton {
    margin-top: 40px;
    width: 400px;
}

@media (max-width: 1830px) {
    .leftCircle{
        margin-left: -100px;
    }

}
@media (max-width: 1680px) {
    .leftCircle{
        margin-left: -200px;
    }

}
@media (max-width: 1600px) {
    .leftCircle{
        margin-left: -300px;
    }

}
@media (max-width: 1350px) {
    .leftCircle{
        margin-left: -400px;
    }

    #whiteCircle-1 {
        top: 1079px;
        left: 800px;
    }

    #whiteCircle-2 {
        top: 1172px;
        left: 1100px;
    }

    .preview {
        margin-left: 100px;
    }

}
@media (max-width: 1200px) {
    .leftCircle {
        margin-left: -500px;
    }

    .preview {
        margin-left: 150px;
    }

}
@media (max-width: 980px) {
    .leftCircle {
        left: 200px;
        top: 950px;
        z-index: 2;
    }

    .women {
        position: absolute;
        z-index: 1;
        left: -700px;
        top:-1100px;
    }

    .preview {
        width: 346px;
        height: 871px;
    }

    .whiteCircle {
        display: none;
    }

    .order {
        margin-right: 200px;
    }

    #checkout {
        width: 300px;
    }

    .price a {
        margin-right: 100px;
    }

    .orderInfoSeparator {
        width: 300px;
    }

}


