main {
  width: 100%;
  height: 1080px;
  overflow: hidden;
  position: relative;
}

.leftCircle {
  width: 1781px;
  height: 1781px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 9, 51, 0.2);
  box-shadow: 0 0 30px 0 rgba(0, 9, 51, 0.2);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -433px;
  top: -349px;
  padding-left: 633px;
  padding-top: 570px;
}

.logo {
  width: 168px;
  height: 71px;
  margin-right: 80px;
  cursor: pointer;
}

#nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 2;
  position: relative;
  height: 71px;
  margin: 47px auto 0;
  width: calc(100vw - 400px);
}

.navItem {
  display: flex;
  align-items: center;
  margin-left: 75px;
  font-size: 16px;
  color: var(--greyish-brown);
}

.navItem a {
  text-decoration: none;
  color: var(--greyish-brown);
}

.navItem img {
  margin-right: 10px;
}

.orderInfoCircle div {
  margin-top: 20px;
}

.orderInfoCircle span {
  color: var(--black);
}

.deliveryPickerContainer {
  height: 50px;
  width: 400px;
}

.deliveryPicker {
  max-width: 400px;
  width: calc(100vw - 40px);
  height: 50px;
  border-radius: 25px;
  background-color: var(--pale-grey);
  font-size: 16px;
  color: var(--brown-grey);
  transition: all 0.2s ease;
  overflow: hidden;
  display: grid;
  grid-template-rows: 50px;
  position: absolute;
}

.deliveryPicker:hover .deliveryPickerItem.selected {
  background-color: #e9eef5;
}

.deliveryPicker:hover .deliveryPickerItem.selected.active {
  background-color: white;
}

.deliveryPicker.active {
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 9, 51, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 9, 51, 0.2);
  background-color: #ffffff;
  z-index: 4;
}

.deliveryPickerItem {
  display: none;
  align-items: center;
  color: var(--greyish-brown);
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.deliveryPickerItem:hover {
  background-color: var(--pale-grey);
}

.deliveryPickerItem.active {
  display: flex;
}

.deliveryPickerItem.selected {
  color: var(--brown-grey);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  transition: background-color 0.2s ease;
}

.deliveryPickerItem.selected.active {
  border-bottom: 1px solid #d9d9d9;
  cursor: default;
}

.deliveryPickerItem.selected.active:hover {
  background-color: white;
}

.deliveryPickerItem.selected.picked {
  color: var(--greyish-brown);
}

.deliveryPickerItem.selected img {
  margin-left: auto;
  transition: all 0.2s ease;
}

#type-delivery,
#type-boxberry {
  display: none;
}

#deliveryWayPicker.active {
  height: 200px;
  grid-template-rows: 50px repeat(3, 1fr);
}

.deliveryPickerItem.MSK,
.deliveryPickerItem.SPB,
.deliveryPickerItem.RUS {
  display: none;
}

#deliveryDate {
  opacity: 5;
}

#deliveryTypePicker.MSK.active {
  height: 250px;
  grid-template-rows: 50px repeat(4, 1fr);
}

#deliveryTypePicker.SPB.active {
  height: 200px;
  grid-template-rows: 50px repeat(3, 1fr);
}

#deliveryTypePicker.RUS.active {
  height: 200px;
  grid-template-rows: 50px repeat(3, 1fr);
}

#deliveryTimePicker.active {
  height: 200px;
  grid-template-rows: 50px repeat(3, 1fr);
}

input {
  max-width: 400px;
  width: calc(100vw - 40px);
}

.orderInfoCircleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderInfoCircle {
  width: 320px;
  height: 320px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 9, 51, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 9, 51, 0.1);
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: calc(1781px - 320px / 2);
  top: calc(1781px / 2 - 320px / 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--brown-grey);
}

.checkoutEnd {
  opacity: 0;
  position: absolute;
  z-index: -2;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 800px;
  bottom: 800px;
}

.checkoutEnd p {
  text-align: center;
  width: 504px;
}

.checkoutEnd h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.checkoutEnd.active {
  opacity: 1;
  z-index: 3;
}

.mainButton {
  max-width: 400px;
  width: calc(100vw - 40px);
}

.deliveryPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  width: calc(100vw - 40px);
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: 0;
  transition: all 0.2s ease;
}

.deliveryPrice span {
  font-size: 20px;
  color: var(--brown-grey);
}

.deliveryPrice h4 {
  margin-bottom: 0;
}

#checkoutButton {
  margin-top: 58px;
}

#oneMore {
  margin-top: 30px;
}

.deliveryInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.5s ease;
  max-width: 900px;
  width: calc(100vw - 40px);
}

.deliveryInfo.type-delivery {
  height: 342px;
}

.deliveryInfo.type-boxberry {
  height: 228px;
}

#pickOnMap {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: var(--greyish-brown);
}

#pickOnMap .circleButton {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 9, 51, 0.15);
  box-shadow: 0 0 10px rgba(0, 9, 51, 0.15);
}

.deliveryInfoItem {
  margin-bottom: 30px;
  max-height: 84px;
}

.stage a {
  text-decoration: none;
  color: var(--brown-grey);
  padding-right: 15px;
  padding-left: 15px;
  transition: all 0.5s ease;
}

.stage {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.stage a:nth-child(1) {
  color: var(--black);
}

.flip {
  transform: rotate(180deg);
}

.clientInfo {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.clientInfoItem {
  margin-bottom: 30px;
  max-height: 84px;
}

.clientInfo p {
  margin-top: 30px;
  font-size: 14px;
  color: #cccccc;
  width: 350px;
  text-align: center;
}

#rightNav {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1620px) {
  #nav {
    width: calc(100vw - 100px);
  }

  .leftCircle {
    left: -641px;
    padding-left: 691px;
  }

  .deliveryInfo {
    max-width: 850px;
  }

  .checkoutEnd {
    left: 900px;
  }
}

@media (max-width: 1270px) {
  main {
    height: 1580px;
  }

  .leftCircle {
    top: 1349px;
    left: calc(50vw - 1781px / 2);
    padding-left: calc(1781px / 2 - 50vw);
    padding-top: 0;
  }

  .leftCircleContent {
    margin-top: -1149px;
    width: 100vw;
  }

  .leftCircleContent h2 {
    text-align: center;
  }

  .deliveryInfo {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    align-items: center;
  }

  .deliveryInfo.type-delivery,
  .deliveryInfo.type-boxberry {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    align-items: center;
  }

  .clientInfo {
    width: 100vw;
    max-width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .deliveryInfoItem {
    max-width: 400px;
    width: calc(100vw - 40px);
  }

  .clientInfoItem {
    max-width: 400px;
    width: calc(100vw - 40px);
  }

  .orderInfoCircle {
    left: calc(50% - 320px / 2);
    top: -160px;
  }

  .checkoutEnd {
    bottom: 2500px;
    left: calc(50% - 252px);
  }

  #continue,
  .deliveryPrice {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .stage {
    display: none;
  }

  .logo {
    width: 92px;
    height: 39px;
    margin-right: auto;
  }

  #nav {
    width: calc(100vw - 40px);
    margin: 20px auto 0;
    height: 50px;
  }

  #home {
    width: 50px;
    height: 50px;
  }

  .leftCircleContent {
    margin-top: -1059px;
  }

  main {
    height: 1380px;
  }

  .leftCircle {
    top: 1149px;
  }

  .checkoutEnd {
    left: calc(50% - (100vw - 40px) / 2);
  }

  .checkoutEnd p {
    width: calc(100vw - 40px);
  }
}
