main {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    position: relative;
}

.leftCircle {
    width: 1781px;
    height: 1781px;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 9, 51, 0.2);
    box-shadow: 0 0 30px 0 rgba(0, 9, 51, 0.2);
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -433px;
    top: -349px;
    padding-left: 633px;
    padding-top: 570px;
}

.logo {
    width: 168px;
    height: 71px;
    margin-right: 80px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    z-index: 2;
    position: relative;
    height: 71px;
    margin: 47px auto 0;
    width: calc(100vw - 400px);
}

.navItem {
    display: flex;
    align-items: center;
    margin-left: 75px;
    font-size: 16px;
    color: var(--greyish-brown);
}

.navItem a {
    text-decoration: none;
    color: var(--greyish-brown);
}

.navItem img {
    margin-right: 10px;
}

.orderInfoCircle span {
    font-size: 16px;
    color: var(--brown-grey);
    margin-top: 20px;
}

.deliveryPickerContainer {
    height: 50px;
    width: 400px;
}

.deliveryPicker {
    width: 400px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--pale-grey);
    font-size: 16px;
    color: var(--brown-grey);
    transition: all 0.2s ease;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px;
    position: absolute;
}

.deliveryPicker:hover .deliveryPickerItem.selected {
    background-color: #e9eef5;
}

.deliveryPicker:hover .deliveryPickerItem.selected.active {
    background-color: white;
}

.deliveryPicker.active {
    width: 400px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 9, 51, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 9, 51, 0.2);
    background-color: #ffffff;
    z-index: 4;
}

.deliveryPickerItem {
    display: none;
    align-items: center;
    color: var(--greyish-brown);
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.deliveryPickerItem:hover {
    background-color: var(--pale-grey);
}

.deliveryPickerItem.active {
    display: flex;
}

.deliveryPickerItem.selected {
    color: var(--brown-grey);
    font-size: 16px;
    cursor: pointer;
    display: flex;
    transition: background-color 0.2s ease;
}

.deliveryPickerItem.selected.active {
    border-bottom: 1px solid #d9d9d9;
    cursor: default;
}

.deliveryPickerItem.selected.active:hover {
    background-color: white;
}

.deliveryPickerItem.selected.picked {
    color: var(--greyish-brown);
}

.deliveryPickerItem.selected img {
    margin-left: auto;
    transition: all 0.2s ease;
}

#cityPicker.active {
    height: 150px;
    grid-template-rows: 50px repeat(2, 1fr);
}

#deliveryWayPicker.active {
    height: 200px;
    grid-template-rows: 50px repeat(3, 1fr);
}

#deliveryDayPicker.active {
    height: 200px;
    grid-template-rows: 50px repeat(3, 1fr);
}

#deliveryTimePicker.active {
    height: 200px;
    grid-template-rows: 50px repeat(3, 1fr);
}

#deliveryDay {
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
}

#deliveryDay.active {
    z-index: 1;
    opacity: 1;
}

#deliveryTime {
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
}

#deliveryTime.active {
    z-index: 1;
    opacity: 1;
}

input {
    width: 400px;
}

#address {
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease;
}

#address.active {
    z-index: 1;
    opacity: 1;
}

.orderInfoCircleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orderInfoCircle {
    width: 320px;
    height: 320px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 9, 51, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 9, 51, 0.1);
    background-color: white;
    position: absolute;
    border-radius: 50%;
    left: 1180px;
    top: calc(1781px / 2 - 320px / 2 - 349px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkoutEnd {
    opacity: 0;
    position: absolute;
<<<<<<< HEAD
    z-index: -2;
    display: flex;
    flex-direction: column;
    left: 800px;
    bottom: 900px;
}

.checkoutEnd img {
    margin-top: -10px;
}

.checkoutEnd h3 {
    padding-bottom: 20px;
    padding-top: 20px;
}

#secondRow {
    margin-left: 40px;
=======
>>>>>>> 46d40a3bd7462619b92744768473d2134aacdbe4
}


.checkoutEnd.active {
    opacity: 1;
    z-index: 3;
}

#continue {
    width: 400px;
    margin-top: 400px;
    position: absolute;
}

#checkoutButton {
    width: 400px;
    margin-top: 58px;
}

#oneMore {
    width: 300px;
    margin-top: 250px;
    margin-left: 100px;
    position: absolute;
}

.deliveryInfo {
    opacity: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
    max-width: 900px;
    width: calc(100vw - 40px);
    justify-content: space-between;
}

.deliveryInfo.active {
    opacity: 1;
    z-index: 1;
}

.deliveryInfoItem {
    margin-bottom: 30px;
}

.stage a {
    text-decoration: none;
    color: var(--brown-grey);
    padding-right: 15px;
    padding-left: 15px;
    transition: all 0.5s ease;
}

.stage {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.stage a:nth-child(1) {
    color: var(--black);
}

.clientInfo {
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.clientInfo.active {
    opacity: 1;
    z-index: 1;
}

.clientInfoItem {
    margin-bottom: 30px;
}

.clientInfo p {
    margin-top: 30px;
    font-size: 14px;
    color: #CCCCCC;
    width: 350px;
    text-align: center;
}

@media (max-width: 1620px) {
    nav {
        width: calc(100vw - 100px);
    }

    .leftCircle {
        left: -641px;
        padding-left: 691px;
    }

    .orderInfoCircle {
        left: 970px;
    }
}