body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

div {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all ease 0.2s;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;
  background: url(../img/headerBG.jpg) no-repeat center top / cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  height: 85px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 40px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
}

.navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 75px;
}

.cart {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  float: left;
  padding-right: 30px;
}

.cartIcon {
  height: 40px;
  margin-top: -10px;
  cursor: pointer;
  z-index: 2;
}

.cartExpanded {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 300px;
  background: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  opacity: 0;
  padding: 5px 15px 15px 15px;
  overflow: hidden;
  z-index: 1;
}

.cartExpanded .caption {
  font-weight: 300;
}

.closeCart {
  position: absolute;
  top: 20px;
  right: 15px;
  height: 20px;
  cursor: pointer;
}

.cartExpanded h4 {
  font-size: 14px;
}

.cartExpanded h4:first-child {
  margin-top: 10px;
}

.cartExpanded input {
  width: 260px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  transition: all 0.2s ease;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cartExpanded input:focus {
  border-color: #1EA896;
  outline: none;
}

.cartExpanded input::placeholder {
  color: #C4C4C4;
}

.product {
  display: grid;
  grid-template-columns: 1fr auto;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product span {
  font-weight: 900;
  font-size: 16px;
  color: black;
}

.productInfo {
  color: #828282;
  font-size: 12px;
  font-weight: 300;
}

more {
  color: #828282;
  font-size: 12px;
  font-weight: 300;
}

.productPrice {
  border-left: 1px solid #E5E5E5;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkout {
  width: 270px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #1EA896;
  margin-top: 30px;
  color: #1EA896;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.checkout:hover {
  color: #FFF;
  background: #1EA896;
}

header p {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 62px;
}

header svg {
  margin-left: 51px;
}

header h1 {
  color: #FFFFFF;
  margin-left: 50px;
  width: 582px;
  margin-top: 15px;
}

.headerScrollButton {
  height: 50px;
  width: 425px;
  margin-left: 50px;
  margin-top: 75px;
  padding: 16px;
  background: #1EA896;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 58px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

h3 {
  font-size: 22px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

h4:first-child {
  margin-top: 0;
}

.caption {
  font-size: 12px;
  text-transform: uppercase;
  color: #828282;
}

.ourWork {
  max-width: 1024px;
  margin: 0 auto;
}

.workBlocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 20px;
}

.workBlock {
  height: 150px;
}

#workBlock-1 {
  background: url(../img/workBlockBG-1.jpg) no-repeat center center / cover;
}

#workBlock-2 {
  background: url(../img/workBlockBG-2.jpg) no-repeat center center / cover;
}

#workBlock-3 {
  background: url(../img/workBlockBG-3.jpg) no-repeat center center / cover;
}

#workBlock-4 {
  background: url(../img/workBlockBG-4.jpg) no-repeat center center / cover;
}

#workBlock-5 {
  background: url(../img/workBlockBG-5.jpg) no-repeat center center / cover;
}

#workBlock-6 {
  background: url(../img/workBlockBG-6.jpg) no-repeat center center / cover;
}

#workBlock-7 {
  background: url(../img/workBlockBG-7.jpg) no-repeat center center / cover;
}

#workBlock-8 {
  background: url(../img/workBlockBG-8.jpg) no-repeat center center / cover;
}

.cartcount {
  background: red;
  border: 0;
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.comment {
  width: 100%;
  margin-top: 50px;
  background: url(../img/commentBG.jpg) no-repeat center top / cover;
}

.lightBlackLayer {
  background: rgba(20, 51, 47, 0.2);
  height: 100%;
  width: 100%;
  padding-top: 80px;
}

.comment h2 {
  color: #FFF;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.comment-Image {
  height: 100px;
  width: 100px;
}

.comment .caption {
  color: #FFF;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 50px;
}

.constructorSection {
  max-width: 1024px;
  margin: 0 auto;
}

.constructorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.constructor {
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 50px;
}

.signInput {
  height: 50px;
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.signInput:focus {
  outline: none;
  border-color: #1EA896;
}

.signInput::placeholder {
  color: #C4C4C4;
}

.fontPicker {
  height: 50px;
  width: 100%;
  border: 1px solid #E5E5E5;
  cursor: pointer;
  border-radius: 5px;
}

.fontPicker.opened {
  height: 240px;
  border-color: #1EA896;
}

.FP-Placeholder {
  padding-top: 15px;
  padding-left: 15px;
  color: #C4C4C4;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.FP-Placeholder.opened {
  z-index: 1;
  opacity: 0;
}

.FP-Item {
  display: none;
  opacity: 0;
  padding-left: 10px;
  height: 40px;
  padding-top: 12px;
}

.FP-Item.opened {
  display: block;
  opacity: 100;
}

.FP-Item:hover {
  background: #F9F9F9;
}

.FP-Active {
  background: #1EA896;
  color: white;
}

.FP-Active:hover {
  background: #1EA896;
}

#FP-1 {
  margin-top: -33px;
  padding-top: 10px;
  position: relative;
  z-index: 1;
  font-family: "Academia", "Montserrat", sans-serif;
  border-radius: 3px 3px 0 0;
  height: 39px;
}

#FP-2 {
  font-family: "Campus", "Montserrat", sans-serif;
}

#FP-3 {
  font-family: "CyrillicOld", "Montserrat", sans-serif;
}

#FP-4 {
  font-family: "Lobster-Regular", "Montserrat", sans-serif;
}

#FP-5 {
  font-family: "MonAmour", "Montserrat", sans-serif;
}

#FP-6 {
  font-family: "Sladkoeshka", "Montserrat", sans-serif;
  height: 39px;
  border-radius: 0 0 3px 3px;
}

.colorPicker {
  height: 50px;
  width: 100%;
  border: 1px solid #E5E5E5;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.colorPicker.opened {
  height: 100px;
  cursor: default;
  border-color: #1EA896;
}

.CP-Colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 1;
}

.CP-Placeholder {
  padding-top: 15px;
  padding-left: 15px;
  color: #C4C4C4;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.CP-Item {
  height: 0;
  width: 60px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.2s ease;
}

.CP-Item p {
  text-align: center;
  margin-top: 10px;
  transition: all 0.2s ease;
}

#CP-1 {
  background: #F03434;
}

#CP-1:hover {
  color: #F03434;
  transform: scale(1.05);
}

#CP-1 p {
  margin-left: -1px;
}

#CP-2 {
  background: #FABE58;
}

#CP-2:hover {
  color: #FABE58;
  transform: scale(1.05);
}

#CP-2 p {
  margin-left: -12px;
}

#CP-3 {
  background: #446CB3;
}

#CP-3:hover {
  color: #446CB3;
  transform: scale(1.05);
}

#CP-4 {
  background: #BF55EC;
}

#CP-4:hover {
  color: #BF55EC;
  transform: scale(1.05);
}

#CP-4 p {
  margin-left: -15px;
}

#CP-5 {
  background: #F7CA18;
}

#CP-5:hover {
  color: #F7CA18;
  transform: scale(1.05);
}

.signSize {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #E5E5E5;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
  background: -moz-linear-gradient(left, #E5E5E5 50%, #FFFFFF 50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0.5, #E5E5E5), color-stop(0.5, #FFFFFF));
  background: -webkit-linear-gradient(left, #E5E5E5 50%, #FFFFFF 50%);
  background: -o-linear-gradient(left, #E5E5E5 50%, #FFFFFF 50%);
  background: -ms-linear-gradient(left, #E5E5E5 50%, #FFFFFF 50%);
}

.signSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: none;
  border: none;
  height: 50px;
  width: 1px;
}

.sizePicker {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid #E5E5E5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.SP-L {
  border-right: 1px solid #E5E5E5;
}

.SP-R {
  border-left: 1px solid #E5E5E5;
}

.SP {
  text-align: center;
  padding-top: 16px;
}

.SP-Active {
  background: #E5E5E5;
  color: #FFF;
  font-weight: 900;
}

.SP-Active.focus {
  background: #1EA896;
}

.addToCart {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
  width: 100%;
  background: #1EA896;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sign {
  font-size: 27.5px;
  position: relative;
  transition: all 0.2s ease;
}

.preview {
  background: url(../img/halat.png) no-repeat center;
  text-align: center;
  padding-top: 80px;
  height: 800px;
}

.imgButton {
  background-size: 50px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  padding-bottom: 2px;
  width: 100px;
  border: 0;
}

#imgButton-1 {
  background-size: 100px auto;
}

#imgButton-2 {
  background-size: 100px auto;
}

#imgButton-3 {
  background-size: 80px auto;
}

#imgButton-4 {
  background-size: 100px auto;
  position: relative;
  top: 20px;
}

.img {
  opacity: 0;
  margin: 0 auto;
  position: relative;
}

#img-1 {
  height: 100px;
  width: 187px;
  margin-top: -55px;
}

#img-2 {
  width: 60px;
  height: 37px;
}

#img-3 {
  height: 60px;
  width: 92px;
}

#img-4 {
  height: 30px;
  width: 148px;
}

#imgButton-1, #img-1 {
  background: url(../img/img.png) no-repeat center top / cover;
}

#imgButton-2, #img-2 {
  background: url(../img/img2.png) no-repeat center top / cover;
}

#imgButton-3, #img-3 {
  background: url(../img/img3.png) no-repeat center top / cover;
}

#imgButton-4, #img-24 {
  background: url(../img/img1.png) no-repeat center top / cover;
}

.aboutOrder {
  margin-top: 50px;
  width: 100%;
  height: 350px;
  background: url(../img/aboutOrderBG.jpg) no-repeat center center / cover;
}

.blackLayer {
  background: rgba(20, 51, 47, 0.6);
  height: 100%;
  width: 100%;
}

.aboutOrderContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr auto) 1fr;
  padding-top: 62px;
}

.AO-Item {
  color: #FFFFFF;
  text-align: center;
}

.AO-Item .caption {
  color: #FFFFFF;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 207px;
}

.AO-Circle {
  height: 150px;
  width: 150px;
  background: #1EA896;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.AO-Item-Image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nextArrow {
  margin: 0;
  margin-top: 66px;
}

.aboutUs {
  height: 600px;
  max-width: 1024px;
  margin: 0 auto;
}

footer {
  height: 300px;
  width: 100%;
  background: #333D3C;
}

@media (max-width: 1024px) {
  .ourWork {
    width: 90%;
  }
  .workBlocks {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 955px) {
  .aboutOrder {
    background: url(../img/aboutOrderVerticalBG.jpg) no-repeat center center / cover;
    height: auto;
  }
  .blackLayer {
    padding-bottom: 50px;
  }
  .aboutOrderContent {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto 1fr) auto;
  }
  .nextArrow {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    transform: rotate(90deg);
  }
}

@media (max-width: 800px) {
  .workBlocks {
    grid-template-columns: repeat(2, 1fr);
  }
  .comment h2 {
    font-size: 30px;
  }
  .constructorGrid {
    grid-template-columns: auto;
    grid-row-gap: 30px;
  }
  .constructorSection {
    width: 90%;
    margin: 0 auto;
  }
  .CP-Colors {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
  }
  .colorPicker.opened {
    height: 200px;
  }
  .constructor {
    grid-template-rows: auto;
    height: auto;
  }
}

@media (max-width: 750px) {
  .navItem {
    display: none;
  }
  #logo {
    display: flex;
  }
  nav {
    grid-template-columns: auto;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 52px;
  }
  header h1 {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
  }
  header p {
    margin-left: 0;
    text-align: center;
  }
  header svg {
    margin: 0;
  }
  .headerLine {
    width: 145px;
    margin: 0 auto;
    margin-top: -9px;
  }
  .headerScrollButton {
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;
  }
}

@media (max-width: 450px) {
  .workBlocks {
    grid-template-columns: auto;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 342px) {
  h1 {
    font-size: 44px;
  }
}

@media (max-width: 313px) {
  h1 {
    font-size: 40px;
  }
}
