body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

div {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all ease 0.2s;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;
  background: url(../img/headerBG.jpg) no-repeat center top / cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

navigation {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 85px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

nav {
  height: 85px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 40px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
}

.navItem {
  padding-top: 38px;
}

.logo {
  height: 75px;
  margin-top: 10px;
}

header p {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 62px;
}

header h1 {
  color: #FFFFFF;
  margin-left: 50px;
  width: 582px;
  margin-top: 15px;
}

.headerScrollButton {
  height: 50px;
  width: 425px;
  margin-left: 50px;
  margin-top: 75px;
  padding: 16px;
  background: #1EA896;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 58px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

h4:first-child {
  margin-top: 0;
}

.caption {
  font-size: 12px;
  text-transform: uppercase;
  color: #828282;
}

.ourWork {
  max-width: 1024px;
  margin: 0 auto;
}

.workBlocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 20px;
}

.workBlock {
  height: 150px;
}

#workBlock-1 {
  background: url(../img/workBlockBG-1.png) no-repeat center center / cover;
}

#workBlock-2 {
  background: url(../img/workBlockBG-2.png) no-repeat center center / cover;
}

#workBlock-3 {
  background: url(../img/workBlockBG-3.png) no-repeat center center / cover;
}

#workBlock-4 {
  background: url(../img/workBlockBG-4.png) no-repeat center center / cover;
}

#workBlock-5 {
  background: url(../img/workBlockBG-5.png) no-repeat center center / cover;
}

#workBlock-6 {
  background: url(../img/workBlockBG-6.png) no-repeat center center / cover;
}

#workBlock-7 {
  background: url(../img/workBlockBG-7.png) no-repeat center center / cover;
}

#workBlock-8 {
  background: url(../img/workBlockBG-8.png) no-repeat center center / cover;
}

.constructorSection {
  max-width: 1024px;
  margin: 0 auto;
  height: 800px;
}

.constructorGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

.constructor {
  height: 800px;
  display: grid;
  grid-template-rows: 1fr 50px;
}

.signInput {
  height: 50px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
  width: 100%;
  padding-left: 15px;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.signInput::placeholder {
  color: #C4C4C4;
}

.fontPicker {
  height: 50px;
  width: 100%;
  border: 1px solid #C4C4C4;
  cursor: pointer;
  border-radius: 5px;
}

.FP-Placeholder {
  padding-top: 15px;
  padding-left: 15px;
  color: #C4C4C4;
  position: relative;
  z-index: 2;
}

.FP-Item {
  display: none;
  opacity: 0;
  padding-left: 10px;
  height: 40px;
  padding-top: 12px;
}

.FP-Active {
  background: #1EA896;
  color: white;
}

.FP-Active:hover {
  background: #1EA896 !important;
}

#FP-1 {
  margin-top: -33px !important;
  padding-top: 10px !important;
  position: relative;
  z-index: 1;
  font-family: "Academia", "Montserrat", sans-serif;
  border-radius: 5px 5px 0 0;
  height: 39px;
}

#FP-2 {
  font-family: "Campus", "Montserrat", sans-serif;
}

#FP-3 {
  font-family: "CyrillicOld", "Montserrat", sans-serif;
}

#FP-4 {
  font-family: "Lobster-Regular", "Montserrat", sans-serif;
}

#FP-5 {
  font-family: "MonAmour", "Montserrat", sans-serif;
}

#FP-6 {
  font-family: "Sladkoeshka", "Montserrat", sans-serif;
  height: 39px;
  border-radius: 0 0 5px 5px;
}

.FP-Item:hover {
  background: #F2F2F2;
}

select {
  height: 50px;
  border: 1px solid #E6ECF8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  width: 100%;
  padding-left: 10px;
  font-family: "Avenir Next", "AvenirNext-Regular", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

slide {
  display: none;
  height: 600px;
}

#slide1 {
  background: url(../img/slide-1.jpg) no-repeat center top / cover;
}

#slide2 {
  background: url(../img/slide-2.jpg) no-repeat center top / cover;
}

#slide3 {
  background: url(../img/slide-3.jpg) no-repeat center top / cover;
}

#slide4 {
  background: url(../img/slide-4.jpg) no-repeat center top / cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.indexLine {
  cursor: pointer;
  height: 2px;
  width: 30px;
  margin: 0 2px;
  background-color: #BBB;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .indexLine:hover {
  background-color: #FFF;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.signSize {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #FFF;
  border: 1px solid #E6ECF8;
  margin: 0;
  outline: none;
}

.signSize::-webkit-slider-runnable-track {
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.signSize::-webkit-slider-thumb {
  width: 1px;
  -webkit-appearance: none;
  height: 50px;
  background: #72E572;
  box-shadow: -20rem 0 0 20rem #72E572;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.signSize::-moz-range-progress {
  background-color: #72E572;
}

.signSize::-moz-range-track {
  background-color: #FFF;
}

.signSize::-ms-fill-lower {
  background-color: #72E572;
}

.signSize::-ms-fill-upper {
  background-color: #FFF;
}

.sizePicker {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid #E6ECF8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.SP-L {
  border-right: 1px solid #E6ECF8;
}

.SP-R {
  border-left: 1px solid #E6ECF8;
}

.SP {
  text-align: center;
  padding-top: 13px;
}

.SP-Active {
  background: #72E572;
  color: #FFF;
}

.addToCart {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 50px;
  width: 100%;
  background: #72E572;
  border: none;
  font-family: "Avenir Next", "AvenirNext-Regular", sans-serif;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
  transition: all 0.2s ease;
}

.addToCart:hover {
  transform: scale(1.1);
}

.sign {
  font-size: 27.5px;
  position: relative;
}

.preview {
  background: url(../img/halat.png) no-repeat center;
  text-align: center;
  padding-top: 80px;
  height: 800px;
}
.colorswitch {
  display: inline-block;
  margin: 3px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
}
#cs1{
background: red;
}
#cs2{
background: orange;
}
#cs3{
background: blue;
}
#cs4{
background: purple;
}
#cs5{
background: yellow;
}

.imgButton {
  background-size: 50px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  padding-bottom: 2px;
  width: 100px;
  outline: none;
  border: 0;
}

#imgButton-1 {
  background: url(../img/img.png) no-repeat center top/ cover;
  background-size: 100px auto;
}

#imgButton-2 {
  background: url(../img/img2.png) no-repeat center top/ cover;
  background-size: 100px auto;
}

#imgButton-3 {
  background: url(../img/img3.png) no-repeat center top/ cover;
  background-size: 80px auto;
}

#imgButton-4 {
  background: url(../img/img1.png) no-repeat center top/ cover;
  background-size: 100px auto;
  position: relative;
  top: 20px;
}

.img {
  opacity: 0;
  margin: 0 auto;
  position: relative;
}

#img-1 {
  background: url(../img/img.png) no-repeat center top/ cover;
  height: 100px;
  width: 187px;
  margin-top: -55px;
}

#img-2 {
  background: url(../img/img2.png) no-repeat center top/ cover;
  width: 60px;
  height: 37px;
}

#img-3 {
  background: url(../img/img3.png) no-repeat center top/ cover;
  height: 60px;
  width: 92px;
}

#img-4 {
  background: url(../img/img1.png) no-repeat center top/ cover;
  height: 30px;
  width: 148px;
}

footer {
  margin-top: 50px;
  height: 100px;
  width: 100%;
  background: #72E572;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer p {
  color: #FFF;
  text-align: center;
  margin-top: 42px;
}

footer p a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}
