body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", "Avenir Next Cyr", sans-serif;
  font-size: 18px;
}

div {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all ease 0.2s;
  margin: 0;
  padding: 0;
}

header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  display: grid;
  grid-template-columns: 1fr 491px 1fr;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

h2:first-child {
  margin-top: 0;
}

.logo {
  padding-left: 20px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.navitem {
  padding-top: 29px;
}

.nav-active {
  font-weight: bold;
  color: #72E572;
  border-bottom: 6px solid #72E572;
}

.cart {
  padding-top: 20px;
  padding-right: 20px;
}

.heroSlider {
  height: 600px;
}

.workBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.workBlock {
  background: lightgrey;
  height: 200px;
}

.constructorSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px;
  margin: 0 auto;
}

.signInput {
  height: 50px;
  border: 1px solid #E6ECF8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  width: 100%;
  padding-left: 10px;
  font-family: "Avenir Next", "Avenir Next Cyr", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  height: 50px;
  border: 1px solid #E6ECF8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  width: 100%;
  padding-left: 10px;
  font-family: "Avenir Next", "Avenir Next Cyr", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #a9a9a9;
  border-radius: 0;
}

.sizePicker {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid #E6ECF8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.SP-L {
  border-right: 1px solid #E6ECF8;
}

.SP-R {
  border-left: 1px solid #E6ECF8;
}

.SP {
  text-align: center;
  padding-top: 13px;
}

.SP-Active {
  background: #72E572;
  font-weight: bold;
  color: #FFF;
}

@media screen and (max-width: 900px) {
  header {
    grid-template-columns: 200px 1fr 200px;
  }
  .workBlocks {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr 84px;
  }
  .nav {
    display: none;
  }
}

@media screen and (max-width: 621px) {
  .workBlocks {
    grid-template-columns: 1fr;
  }
}
